<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="GET" th:action="@{/main}">
    <input class="center-button" type="submit" value="Вернуться на главную">
</form>
<br>
<form method="post" action="/process_login">
    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}">
    <label for="usernameId">email</label>
    <input type="text" name="username" id="usernameId">
    <br>
    <label for="passwordId">password</label>
    <input type="password" name="password" id="passwordId">
    <br>

    <input type="submit" value="Войти">
    <div th:if="${param.error}" style="color: red">Неправильное имя пользователя или пароль</div>

</form>
<br>
<hr>
<form method="GET" th:action="@{/auth/registration}">
    <input type="submit" value="Регистрация">
</form>
</body>
</html>