<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form th:method="PATCH" th:action="@{/product/{id}/addUrl(id=${oneProductModel.getProductId()})}" th:object="${oneProductModel}">
    <label for="urlId">URL товара</label>
    <input type="text" th:field="*{productURL}" id="urlId">
    <br>

<!--    <label for="nameId">Название товара</label>-->
    <input type="hidden" th:field="*{productName}" id="nameId">
    <br>
<!--    <label for="priceId">Цена товара</label>-->
    <input type="hidden" th:field="*{price}" id="priceId">
    <br>
<!--    <label for="descriptionId">Описание</label>-->
    <input type="hidden" th:field="*{description}" id="descriptionId">
    <br>
<!--    <label for="quantityId">Количество</label>-->
    <input type="hidden" th:field="*{quantity}" id="quantityId">
    <br>
<!--    <label for="discountId">Скидка на товар</label>-->
    <input type="hidden" th:field="*{discount}" id="discountId">
    <br>
    <label for="labelGroupId">Группа товаров</label>
    <select th:object="${oneGroupModel}" th:field="*{groupId}" id="labelGroupId">
        <option th:each="group:${groupListModel}" th:value="${oneGroupModel.getGroupId()}" th:text="${group.getGroupName()}"></option>
    </select>
    <br>
    <label for="labelManufacturerId">Производитель</label>
    <select th:object="${oneManufacturerModel}" th:field="*{manufacurerId}" id="labelManufacturerId">
        <option th:each="manufacturer:${manufacturerListModel}" th:value="${manufacturer.getManufacurerId()}" th:text="${manufacturer.getName()}" ></option>
    </select>
    <hr>
    <input type="submit" value="Добавить">



</form>

</body>
</html>