<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/product/create}" enctype="multipart/form-data" th:object="${createProductModel}"  >
    <label for="nameId">Название товара</label>
<input th:type="text" th:field="*{productName}" id="nameId">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{productName}"></div>
    <br>
    <label for="URLId">URL товара</label>
    <input th:type="text" th:field="*{productURL}" id="URLId">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{productURL}"></div>
    <br>

    <label for="priceId">Цена товара</label>
    <input th:type="text" th:field="*{price}" id="priceId">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{price}"></div>
    <br>

    <label for="descriptionId">Описание товара</label>
    <input th:type="text" th:field="*{description}" id="descriptionId">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{description}"></div>
    <br>

    <label for="quantityId">Количество товара</label>
    <input th:type="text" th:field="*{quantity}" id="quantityId">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{quantity}"></div>
    <br>
    <label for="groupId">Название группы</label>
    <select th:object="${oneGroupModel}" th:field="*{groupId}" id="groupId">
        <option th:each="group:${groupListModel}" th:value="${group.getGroupId()}" th:text="${group.getGroupName()}"></option>
    </select>
    <br>

    <label for="manufacturerId">Производитель товара</label>
 <select th:object="${oneManufacturer}" th:field="*{manufacurerId}" id="manufacturerId">
     <option th:each="manufacturer:${manufacturerListModel}" th:value="${manufacturer.getManufacurerId()}" th:text="${manufacturer.getManufacturerName()}"></option>
 </select>
    <br>
        <label for="photo">Выберите фотографию:</label>
        <input type="file" id="photo" name="photo" accept="image/*">
<!--    <input type="file" id="photo" name="photo" accept="image/*" required>-->
    <br>
    <label for="similarId">Аналогичный товар</label>
    <input type="text" th:field="*{similarProductName}" id="similarId">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{similarProductName}"></div>
    <br>
    <input type="submit" value="Создать товар">
    <br>



</form>

<br>
<!--<form th:method="POST" th:action="@{/product/uploadPhoto}" enctype="multipart/form-data">-->
<!--    <label for="photo">Выберите фотографию:</label>-->
<!--    <input type="file" id="photo" name="photo" accept="image/*" required>-->
<!--    <br>-->
<!--    <button type="submit">Загрузить</button>-->
<!--</form>-->
</body>
</html>