<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'Группа:' + ${oneProductModel.group.getGroupName()}"></p>
<p th:text="'Название: ' + ${oneProductModel.productName}"></p>
<p th:text="'Производитель: ' + ${oneProductModel.manufacturer.getName()}"></p>
<p th:text="'Цена: ' + ${oneProductModel.price}"></p>
<p th:text="'Описание товара:' + ${oneProductModel.description}"></p>
<hr>
<form th:method="GET" th:action="@{/product/{URL}/edit(URL=${oneProductModel.getProductURL()})}">
    <input type="submit" value="Редактировать товар">
</form>
</body>
</html>