<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
</head>
<body>
<h3>Все товары</h3>
<br>
<style>
    .right {
        text-align: right;
    }
</style>
<form class="right" method="get" action="product/cart">
    <input type="submit" value="Корзина">
</form>

<form th:method="GET" th:action="@{/product}">
    <label for="groupId">Группа товаров</label>
    <select th:object="${groupForSelectModel}" th:field="*{groupName}" id="groupId" style="margin-bottom: 10px;">
        <option th:each="group:${groupNameListModel}" th:value="${group}" th:text="${group}"></option>
    </select>

    <label for="manufacturerId">Производитель товара</label>
    <select th:object="${manufacturerForSelectModel}" th:field="*{manufacturerName}" id="manufacturerId">
        <option th:each="manufacturer:${manufacturerNameListModel}" th:value="${manufacturer}" th:text="${manufacturer}"></option>
    </select>

    <label for="sortId">Сортировка</label>
    <select name="sort" id="sortId">
        <option th:each="sort:${sortLostListModel}" th:value="${sort}" th:text="${sort}"></option>
    </select>
    <input type="submit" value="Выбрать ">
</form>

<form  class="center" th:method="GET" th:action="@{/product}">
    <label for="searchID">Поиск товара</label>
    <input type="text" name="searchName"  id="searchID">
    <input type="submit" value="Найти">
</form>


<!--<p><img src="pic.png" alt="Тест1"></p>-->
<div th:each="product:${productsModel}">
<!--    <a th:href="@{/product/{id}(id=${product.getProductId()})}" th:text="${product.getProductName()} + ' цена ' + ${product.getFinalPrice()}"  ></a>-->
    <a th:href="@{/product/view/{URL}(URL=${product.getProductURL()})}" th:text="${product.getProductName()} + ' цена ' + ${product.getFinalPrice()}"  ></a>
    <p th:if="${!product.addressPicture.isBlank()}"><img th:src="${product.addressPicture}" alt="Фото товара" width="100" height="125"></p>
    <p th:if="${product.addressPicture.isBlank()}"><img src="/download/no_photo.png" alt="Фото товара" width="100" height="125"></p>
</div>
<hr>
<span th:each="page:${numberOfPageModel}"><a th:href="@{/product(page=${page},productPerPage=${productPerPageModel})}" th:text="${page}"></a> </span>
<hr>
<form method="get" action="/product/create">
    <input type="submit" value="Добавить новый товар">
</form>
</body>
</html>