<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
</head>
<body>
<h3>Все товары</h3>
<br>
<style>
    .right {
        text-align: right;
    }
</style>
<form  method="get" action="/main">
    <input type="submit" value="На главную">
</form>
<form class="right" method="get" action="/cart">
    <input type="submit" value="Корзина">
</form>

<form th:method="GET" th:action="@{/product}">
    <label for="groupId">Группа товаров</label>
    <select th:object="${groupForSelectModel}" th:field="*{groupName}" id="groupId" style="margin-bottom: 10px;">
        <option th:each="group:${groupNameListModel}" th:value="${group}" th:text="${group}"></option>
    </select>

    <label for="manufacturerId">Производитель товара</label>
    <select th:object="${manufacturerForSelectModel}" th:field="*{manufacturerName}" id="manufacturerId">
        <option th:each="manufacturer:${manufacturerNameListModel}" th:value="${manufacturer}" th:text="${manufacturer}"></option>
    </select>

    <label for="sortId">Сортировка</label>
    <select name="sort" id="sortId">
        <option th:each="sort:${sortLostListModel}" th:value="${sort}" th:text="${sort}"></option>
    </select>
    <input type="submit" value="Выбрать ">
</form>

<form  class="center" th:method="GET" th:action="@{/product}">
    <label for="searchID">Поиск товара</label>
    <input type="text" name="searchName"  id="searchID">
    <input type="submit" value="Найти">
</form>

<hr>



<div th:each="product, iter:${productsModel}" style="display: flex;">
<span th:if="${iter.index%2==0}" style="display: flex">
    <span th:if="${!product.addressPicture.isBlank()}">
    <img th:src="${product.addressPicture}" alt="Фото товара" style="width: 200px; height: 200px;">
  </span>
    <span th:if="${product.addressPicture.isBlank()}">
    <img src="/download/no_photo.png" alt="Фото товара" style="width: 200px; height: 200px;">
  </span>
    <div style="display: flex; flex-direction: column;">
        <a th:href="@{/product/view/{URL}(URL=${product.getProductURL()})}" th:text="${product.getProductName()}" style="align-self: flex-start;"></a>
        <p th:text="${product.getPrice()} + ' белорусских рублей'"></p>
        <p th:text="'Описание: ' + ${product.getDescription()}"></p>
        <p th:text="'Производитель: ' + ${product.getManufacturer().getManufacturerName()}"></p>


    </div>

    <span th:if="${productsModel.size()>(iter.index+1)}" style="display: flex">
    <span th:if="${!productsModel[iter.index+1].addressPicture.isBlank()}">
    <img th:src="${productsModel[iter.index+1].addressPicture}" alt="Фото товара" style="width: 200px; height: 200px;">
  </span>
    <span th:if="${productsModel[iter.index+1].addressPicture.isBlank()}">
    <img src="/download/no_photo.png" alt="Фото товара" style="width: 200px; height: 200px;">
  </span>
    <div style="display: flex; flex-direction: column;">
        <a th:href="@{/product/view/{URL}(URL=${productsModel[iter.index+1].getProductURL()})}" th:text="${productsModel[iter.index+1].getProductName()}" style="align-self: flex-start;"></a>
        <p th:text="${productsModel[iter.index+1].getPrice()} + ' белорусских рублей'"></p>
        <p th:text="'Описание: ' + ${productsModel[iter.index+1].getDescription()}"></p>
        <p th:text="'Производитель: ' + ${productsModel[iter.index+1].getManufacturer().getManufacturerName()}"></p>


    </div>
        </span>
</span>

</div>



<!--<div th:each="product:${productsModel}">-->
<!--    <span th:if="${!product.addressPicture.isBlank()}"><img th:src="${product.addressPicture}" alt="Фото товара" width="200" height="200"></span>-->
<!--    <span th:if="${product.addressPicture.isBlank()}"><img src="/download/no_photo.png" alt="Фото товара" width="200" height="200"></span>-->
<!--    <a th:href="@{/product/view/{URL}(URL=${product.getProductURL()})}" th:text="${product.getProductName()} + ' цена ' + ${product.getFinalPrice()}"  ></a>-->

<!--</div>-->




<!--<div th:each="product, iter:${productsModel}">-->
<!--    <span th:if="${iter.index%2==0}">-->
<!--         <a th:href="@{/product/view/{URL}(URL=${product.getProductURL()})}" th:text="${product.getProductName()} + ' цена ' + ${product.getFinalPrice()}"  ></a>-->
<!--        <span th:if="${productsModel.size()}>(${iter.index}+1)">-->
<!--              <a th:href="@{/product/view/{URL}(URL=${productsModel[iter.index+1].getProductURL()})}"-->
<!--                 th:text="${productsModel[iter.index+1].getProductName()} + ' цена ' + ${productsModel[iter.index+1].getFinalPrice()}"  ></a></span>-->
<!--    <br>-->



<!--        <span th:if="${!product.addressPicture.isBlank()}"> <img th:src="${product.addressPicture}" alt="Фото товара" width="100" height="100"></span>-->
<!--        <span th:if="${product.addressPicture.isBlank()}"><img src="/download/no_photo.png" alt="Фото товара" width="100" height="100"> </span>-->
<!--         <span th:if="${productsModel.size()}>(${iter.index}+1)">-->
<!--              <span th:if="${!productsModel[iter.index+1].addressPicture.isBlank()}"> <img th:src="${productsModel[iter.index+1].addressPicture}" alt="Фото товара" width="100" height="100"></span>-->
<!--        <span th:if="${productsModel[iter.index+1].addressPicture.isBlank()}"><img src="/download/no_photo.png" alt="Фото товара" width="100" height="100"> </span>-->
<!--         </span>-->
<!--        </span>-->
<!--    </span>-->

<!--</div>-->















<hr>
<span th:each="page:${numberOfPageModel}"><a th:href="@{/product(page=${page},productPerPage=${productPerPageModel})}" th:text="${page}"></a> </span>
<hr>
<div th:if="${isAdminModel}">
<form method="get" action="/product/create">
    <input type="submit" value="Добавить новый товар">
</form>
</div>


<!--    <form method="get" action="/product/create">-->
<!--        <input type="submit" value="Добавить новый товар">-->
<!--    </form>-->

</body>
</html>