<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
</head>
<body>

<!--<p><img src="pic.png" alt="Тест1"></p>-->
<div th:each="product:${productsModel}">
    <a th:href="@{/product/{id}(id=${product.getProductId()})}" th:text="${product.getProductName()} + ' цена ' + ${product.getFinalPrice()}"  ></a>
</div>
<hr>
<form method="get" action="/product/create">
    <input type="submit" value="Добавить новый товар">
</form>
</body>
</html>