<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create order</title>
</head>
<body>
<div th:if="${orderModel!=null}">
<form th:method="POST" th:action="@{/order/createOrder}" th:object="${orderModel}">
    <label for="customerId">Введите ваше имя</label>
    <input type="text" th:field="*{customerName}" id="customerId">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{customerName}"></div>
    <label for="addressId">Введи ваш адрес</label>
    <input type="text" th:field="*{address}" id="addressId">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{address}"></div>
    <br>
    <label for="addressId">Введи ваш номер телефона</label>
    <input type="text" th:field="*{telephoneNumber}" id="phoneId">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{telephoneNumber}"></div>
    <br>
    <input type="submit" value="Заказать">
</form>
</div>
<div th:if="${orderModel==null}">
    <p>Ваша корзина пуста</p>
</div>
</body>
</html>