<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр заказа</title>
</head>
<body>
<div class="button-container">
    <style>
        .button-container {
            display: flex;
            justify-content: space-between;
        }

    </style>

    <form method="get" action="/main">
        <input type="submit" value="На главную">
    </form>

    <form method="get" action="/admin">
        <input type="submit" value="Администрирование">
    </form>

</div>

<div th:each="PO:${listProductOrderModel}">
    <p th:text="${PO.getProduct().productName} + ' количетсво ' + ${PO.getProduct().getQuantity()} + ' шт.'" ></p>
</div>

<p style="font-weight: bold" th:text="'Цена заказа: '+${orderModel.getOrderPrice()} + ' белорусских рублей '"></p>
<form th:method="PATCH" th:action="@{/order/view/{id}(id=${orderModel.getOrderId()})}" th:object="${orderModel}">
    <select th:object="${orderModel}" th:field="*{orderStatus}">
        <option th:each="status:${listStatusModel}" th:value="${status}" th:text="${status}"></option>
    </select>
    <input type="hidden" th:field="*{orderPrice}">
<input type="text" th:field="*{stringDate}">
    <label for="addressId">Адрес</label>
    <input type="text" th:field="*{address}" id="addressId">
    <br>
    <br>
    <label for="phoneId">Номер телефона</label>
    <input type="text" th:field="*{telephoneNumber}" id="phoneId">
    <br>
    <br>
    <label for="customerId">Имя заказчика</label>
    <input type="text" th:field="*{customerName}" id="customerId">
    <br>
    <input type="submit" value="Обновить">
</form>
</body>
</html>