HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/application.properties
/src/main/java/com/example/internet_store/controllers/TestContoller.java
/src/main/java/com/example/internet_store/dto/TestBool.java
/src/main/java/com/example/internet_store/dto/TestBoleanList.java
/src/main/java/com/example/internet_store/models/TestPersone.java
/src/main/java/com/example/internet_store/models/TestObject.java
/src/main/java/com/example/internet_store/models/TestProduct.java
/src/main/java/com/example/internet_store/repositories/TestPersoneRepository.java
/src/main/java/com/example/internet_store/repositories/TestProductRepository.java
/src/main/java/com/example/internet_store/services/TestPersoneService.java
/src/main/java/com/example/internet_store/services/TestProductService.java
/src/main/resources/templates/product/testPage2.html
/src/main/resources/templates/doubleRowPage.html
/src/main/resources/templates/test4Page.html
