<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать группу товаров</title>
</head>
<body>

<style>
    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button-container .left-button {
        align-self: flex-start;
    }

    .button-container .center-button {
        align-self: center;
    }
</style>

<div class="button-container">

    <form th:method="GET" th:action="@{/main}">
        <input class="center-button" type="submit" value="Вернуться на главную">
    </form>
    <form th:method="GET" th:action="@{/admin}">
        <input class="left-button" type="submit" value="Администрирование">
    </form>

</div>


<form th:method="POST" th:action="@{/group/create}" th:object="${groupModel}">
    <label for="nameId">Название группы</label>
    <input type="text" th:field="*{groupName}" id="nameId">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{groupName}"></div>
    <br>
    <label for="urlId">URL Группы</label>
    <input type="text" th:field="*{groupURL}" id="urlId">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{groupURL}"></div>
    <input type="submit" value="Создать группу">
</form>
</body>
</html>