<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Группы продуктов</title>
</head>
<body>
<style>
    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button-container .left-button {
        align-self: flex-start;
    }

    .button-container .center-button {
        align-self: center;
    }
</style>

<div class="button-container">

    <form th:method="GET" th:action="@{/main}">
        <input class="center-button" type="submit" value="Вернуться на главную">
    </form>
    <form th:method="GET" th:action="@{/admin}">
        <input class="left-button" type="submit" value="Администрирование">
    </form>

</div>

<h2>Группы продуктов:</h2>
<div th:each="group:${listGroupModel}">
    <a th:href="@{/group/view/{id}(id=${group.getGroupId()})}" th:text="${group.getGroupName()}"></a>
</div>
<hr>
<form method="get" action="/group/create">
    <input type="submit" value="Создать группу">
</form>
</body>
</html>