<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 th:text="'Название группы: ' + ${groupModel.getGroupName()}"></h4>
<p th:text="'Количество товаров в группе: ' +${groupModel.getProductList().size()}" ></p>
<hr>
<form th:method="GET" th:action="@{/group/edit/{id}(id=${groupModel.getGroupId()})}" th:object="${groupModel}">
    <input type="submit" value="Редактировать">
</form>
<hr>
<form th:method="DELETE" th:action="@{/group/delete/{id}(id=${groupModel.getGroupId()})}" th:object="${groupModel}">
    <input type="submit" value="Удалить группу">
</form>

</body>
</html>