<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button-container .left-button {
        align-self: flex-start;
    }

    .button-container .center-button {
        align-self: center;
    }
</style>

<div class="button-container">

    <form th:method="GET" th:action="@{/main}">
        <input class="center-button" type="submit" value="Вернуться на главную">
    </form>
    <form th:method="GET" th:action="@{/admin}">
        <input class="left-button" type="submit" value="Администрирование">
    </form>

</div>
<h3>Изображения без товара</h3>
<div th:each="picture:${redundantPicturesModel}" >
    <a th:href="@{/picture/view/{id}(id=${picture.getPictureId()})}" th:text="${picture.getFileName()}"></a>
    <form th:method="DELETE" th:action="@{/picture/view/{id}(id=${picture.getPictureId()})}">
        <input type="submit" value="Удалить">
    </form>
</div>



</body>
</html>