<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Производители</title>
</head>
<body>
<style>
    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button-container .left-button {
        align-self: flex-start;
    }

    .button-container .center-button {
        align-self: center;
    }
</style>

<div class="button-container">

    <form th:method="GET" th:action="@{/main}">
        <input class="center-button" type="submit" value="Вернуться на главную">
    </form>
    <form th:method="GET" th:action="@{/admin}">
        <input class="left-button" type="submit" value="Администрирование">
    </form>

</div>
<div th:each="manufacturer:${listManufacturersModel}" >
    <a th:href="@{manufacturer/view/{id}(id=${manufacturer.getManufacurerId()})}" th:text="${manufacturer.getManufacturerName()}"></a>
</div>
<hr>
<form method="get" action="/manufacturer/create">
    <input type="submit" value="Добавить нового производителя">
</form>
</body>
</html>