<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button-container .left-button {
        align-self: flex-start;
    }

    .button-container .center-button {
        align-self: center;
    }
</style>

<div class="button-container">

    <form th:method="GET" th:action="@{/main}">
        <input class="center-button" type="submit" value="Вернуться на главную">
    </form>
    <form th:method="GET" th:action="@{/admin}">
        <input class="left-button" type="submit" value="Администрирование">
    </form>

</div>
<h4 th:text="'Название производителя: ' + ${manufacturerModel.getManufacturerName()}"></h4>
<p th:text="'Количество товаров от производитеоя: ' +${manufacturerModel.getListProduct().size()}" ></p>
<hr>
<form th:method="GET" th:action="@{/manufacturer/edit/{id}(id=${manufacturerModel.getManufacurerId()})}" th:object="${manufacturerModel}">
    <input type="submit" value="Редактировать">
</form>
<hr>
<form th:method="DELETE" th:action="@{/manufacturer/delete/{id}(id=${manufacturerModel.getManufacurerId()})}" th:object="${groupModel}">
    <input type="submit" value="Удалить группу">
</form>
</body>
</html>