


<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
<form class="right" method="get" action="/product">
    <input type="submit" value="Вернуться в товары">
</form>

<div th:if="${listModel==null}"><h4>Ваша корзина пуста</h4>
</div>

<div th:if="${listModel!=null}">

<div th:each="product:${listModel}">
    <p th:text="${product.getProductName()} + ' количество ' +${product.getQuantity()} + ' шт  ' +  'цена за шт. ' +
    ${product.getPrice()} + 'р. итого ' + ${product.getPrice()}*${product.getQuantity()} + ' белорусских рублей '" ></p>
    <p th:if="${!product.addressPicture.isBlank()}"><img th:src="${product.addressPicture}" alt="Фото товара" width="100" height="100"></p>
    <p th:if="${product.addressPicture.isBlank()}"><img src="/download/no_photo.png" alt="Фото товара" width="100" height="100"></p>
</div>

<!--    <form method="post" th:action="@{order/createOrder}" th:object="${productDTOListModel}">-->
<!--        <div th:each="product, iter:*{productsDTO}">-->
<!--            <label for="quantityId">количество</label>-->
<!--            <input type="text" th:field="*{productsDTO[__${iter.index}__].quantity}" id="quantityId">-->
<!--        </div>-->
<!--        <input type="submit" value="Оформить заказ">-->
<!--    </form>-->



<p style="font-weight: bold" th:text="'Итого: ' + ${totalPrice} + ' белорусских рублей '" ></p>



    <br>
    <form method="get" action="/cart/edit">
    <input type="submit" value="Редактировать корзину">
    </form>
    <hr>
    <form method="get" action="order/createOrder">
        <input type="submit" value="Оформить заказ">
    </form>
    <hr>
    <form method="get" action="cart/clear">
        <input type="submit" value="Очистить корзину">
    </form>


</div>
</body>
</html>

