<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<style>
    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button-container .left-button {
        align-self: flex-start;
    }

    .button-container .center-button {
        align-self: center;
    }
</style>

<div class="button-container">

    <form th:method="GET" th:action="@{/main}">
        <input class="center-button" type="submit" value="Вернуться на главную">
    </form>
    <form th:method="GET" th:action="@{/admin}">
        <input class="left-button" type="submit" value="Администрирование">
    </form>

</div>
<h4>Страница администратора</h4>
<a th:href="@{/product}" th:text="'Продукты'"></a>
<br>
<a th:href="@{/manufacturer}" th:text="'Производители'"></a>
<br>
<a th:href="@{/group}" th:text="'Группы товаров'"></a>
<br>
<a th:href="@{/order}" th:text="'Заказы'"></a>
<br>
<a th:href="@{/picture/redundant}" th:text="'Изображения без товара'"></a>
<br>
<a th:href="@{/user/allUser}" th:text="'Пользователи'"></a>
</body>
</html>